body {
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    width: 1300px;
    padding: 5px;
    margin-top: auto;
    }

    header {
        color: teal;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: black;
        font-size: larger;
    }

    h1 {
        color: mediumorchid;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    h2 {
        color: greenyellow;
        font-family: cursive;
    }

    h3 {
        color: deeppink;
        font-family: Arial, Helvetica, sans-serif;
        font-size: larger;
    }

    nav > ul {
        line-height: 2em;
        list-style-type: square;
        
    }

    nav > ul > li {
        color: seagreen;
        font-family: 'Times New Roman', Times, serif;
    }

    section {
        background-color: aqua;
        width: 75%;
        font-size: 1.2em;
     }

     footer {
        background-color: hotpink;
     }
   
   
